[submodule "pa11y-webservice/pa11y-webservice"]
	path = pa11y-webservice/pa11y-webservice
	url = https://github.com/pa11y/pa11y-webservice
[submodule "pa11y-dashboard/pa11y-dashboard"]
	path = pa11y-dashboard/pa11y-dashboard
	url = https://github.com/pa11y/pa11y-dashboard
